.half_of_container {
  width: 50%;
  text-align: center;
}
.text_container {
  height: 70%;
}
.btn_container {
  width: 100%;
  position: relative;
}
.body_txt {
  font-size: 30px;
  margin-top: 10% !important;
  width: 70%;
  margin: 0 auto;
}
.head_txt {
  margin-top: 10%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 100px;
  margin: auto;
  border-radius: 25px;
  height: 30px;
}
.button:hover {
  background-color: rgb(199, 201, 208);
}
@media screen and (max-width: 1440px) {
  .body_txt {
    font-size: 20px;
  }
}

@media screen and (max-width: 853px) {
  .head_txt {
    font-size: 15px;
    margin-top: 5%;
  }

  .body_txt {
    font-size: 10px;
    width: 100%;
    margin-top: 0 !important;
  }
  .button {
    width: 70px;
    height: 20px;
    font-size: 8px;
  }
}
