#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal {
  width: 60%;
  height: 80%;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.object_name {
  text-align: center;
}
