.object_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img {
  display: flex;
  border-radius: 2%;
}

.undertext {
  display: flex;
  text-align: center;
}
