@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
*::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}
*::-webkit-scrollbar-thumb {
  background: #898e94;
  border-radius: 20px;
}
